<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/basic.html}">
<head>
    <title>Board Modify</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Modify
                </div>
                <div class="card-body">
                    <form th:action="@{/board/modify}" th:method="post" id="modifyForm">
                        <div class="input-group mb-3">
                            <span class="input-group-text">번호</span>
                            <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <input type="text" class="form-control" name="title" th:value="${dto.title}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">내용</span>
                            <textarea class="form-control col-sm-5" name="content" rows="5">[[${dto.content}]]</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">작성자</span>
                            <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">작성 시간</span>
                            <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">수정 시간</span>
                            <input type="text" class="form-control" th:value="${#temporals.format(dto.updateDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">목록</button>
                                <button type="button" class="btn btn-warning modifyBtn">수정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]

    let errorMsg = ''

    if(errors) {
        for(let i=0; i<errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        //history.replaceState({}, null, null)
        alert(errorMsg)
    }


    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector('#modifyForm')

    document.querySelector(".modifyBtn").addEventListener("click", (e) => {

        e.preventDefault()


        formObj.action = `/board/modify?${link}`
        formObj.method = 'post'
        formObj.submit()

    })

    document.querySelector(".removeBtn").addEventListener("click", (e) => {
        e.preventDefault()
        formObj.action = `/board/remove`
        formObj.method = 'post'
        formObj.submit()

    })

    document.querySelector(".listBtn").addEventListener("click", (e) => {
        e.preventDefault()

        formObj.reset()
        self.location = `/board/list?${link}`
    })

</script>